image:
  # -- image repository
  repository: sylvaindevmtp/app-via-ferrata
  # -- image tag
  tag: "v2025.2.0-backend-dev"
  # -- image pull policy
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: dockerhub-secret

# -- Configures service settings for the chart.
service:
  main:
    ports:
      https:
        port: 3333
        targetPort: 3333

ingress:
  main:
    enabled: true
    labels: {}
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production-dns
      kubernetes.io/ingress.class: traefik
    hosts:
      - host: app-via-ferrata.k.zethak.org
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: app-via-ferrata.k.zethak.org
        hosts:
          - app-via-ferrata.k.zethak.org
